.modal-75w {
    max-width: 75% !important;
}

.btn-outline-gray {
    @extend .btn-outline-primary;
    color: $gray-500;
    border-color: $gray-500;
}

.btn-add-sm {
    height: calc(1.5em + 0.5rem + 2px);
    width: calc(1.5em + 0.5rem + 2px);
}

.choice-input {
    border: 0 !important;
}

.input-width-sm {
    flex-grow: 0 !important;
    width: clamp(2rem, 6rem, 10rem) !important;
}

.RSPBprogressBar {
    margin-top: calc(12.5px + 1.5rem);
    margin-bottom: calc(12.5px + 10px + 0.9rem);
}

.indexedStep {
    color: white;
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
    background-color: $gray-400;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    & > div:last-child {
        font-weight: 600;
        position: absolute;
        color: $gray-400;
        top: 40px;
        font-size: 0.88rem;
    }
    &.active-step {
        & > div:last-child {
            color: $gray-600;
        }
    }
}

.indexedStep.accomplished {
    background-color: $primary;
}

.input-button-group {
    & > *:first-child {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right: none;
    }

    & > *:last-child {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}

.section-child {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.section-child-options {
    grid-column-start: 2;
}

.section-child-icon {
    justify-self: center;
    align-self: center;
}

// .edit-button {
//     @extend .option-button;
// }

// .delete-button {
//     @extend .option-button;
//     margin-left: 0.25rem;

//     &:hover {
//         border-color: $danger !important;
//         background-color: $danger !important;
//     }

//     & > * {
//         height: 1rem;
//         width: 1rem;
//     }
// }
