.order-nav {
  border: 0 !important;

  &.nav-fill {
    width: 100%;
  }

  & > .nav-item > .nav-link {
    border: 0 !important;
    border-radius: 0.95rem 0.95rem 0 0 !important;
    &.active {
      box-shadow: 0 -0.8rem 1rem rgba(0, 0, 0, 0.06) !important;
    }
  }
}

.order-nav-content {
  @extend .rounded-bottom-extra;
  @extend .p-3;
  background-color: white;
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  overflow: auto;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.orders-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr auto;
}

.order-wrapper {
  @extend .bg-light;
  @extend .rounded-extra;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
