@import "styles/orders";

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  // font-family: "Barlow Semi Condensed", sans-serif !important;
  font-size: 0.95rem;
}

body {
  margin: 0;
}

.justify-self-start {
  justify-self: flex-start;
}

.mw-75 {
  max-width: 75% !important;
}

.rounded-high {
  border-radius: 0.5rem !important;
}

.rounded-top-left {
  border-top-left-radius: 0.95rem !important;
}

.rounded-top-right {
  border-top-right-radius: 0.95rem !important;
}

.rounded-bottom-extra {
  border-radius: 0 0 0.95rem 0.95rem;
}

.rounded-extra {
  border-radius: 0.95rem !important;
}

// fonts

.font-regular {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semi-bold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.font-black {
  font-weight: 900 !important;
}

.font-small {
  font-size: 0.85rem !important;
  // font-size: 80% !important;
}

.font-smaller {
  font-size: 0.75rem !important;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-visible {
  overflow-y: visible !important;
}

.input-group-text {
  border: 0 !important;
  border-radius: 0.25rem !important;
}

.btn-light:not(:disabled):not(.disabled).active {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
  /* border: none; */
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.3) !important;
}

$primary: #ffc107;
@import "~bootstrap/scss/bootstrap";
@import "./styles/menu";

.tab-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  span {
    @extend .font-spaced;
    @extend .capitalize;
    @extend .font-semi-bold;
    @extend .ml-2;
  }
}

.capitalize {
  text-transform: uppercase;
}

.font-spaced {
  letter-spacing: 0.08rem;
}

.cursor-help {
  cursor: help;
}

button {
  border-radius: 0.7rem !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  letter-spacing: 0.08rem;
  font-size: 0.8rem !important;

  & *:not(svg) {
    font-weight: 600 !important;
    letter-spacing: 0.08rem;
    font-size: 0.8rem !important;
    line-height: 1rem;
  }
  & svg {
    font-size: 1.25rem !important;
  }
  &.btn-square {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 1rem !important;
    width: 1rem !important;
    padding: 1rem !important;
  }

  &.btn-sm {
    // flex-shrink: 0;
    height: 1.8rem !important;
    font-size: 0.7rem !important;
    svg {
      font-size: 1.1rem !important;
    }
    * {
      font-size: inherit !important;
    }
    &.btn-square {
      flex-shrink: 0;
      width: 1.8rem !important;
      padding: 0 !important;
    }
  }
}

.btn-gray {
  color: $gray-400;
  border: 1px solid $gray-400;
}

.btn-delete {
  @extend .btn-danger;
  color: #6c757d !important;
  border: 1px solid #6c757d !important;
  background-color: transparent !important;
  &:hover:not(:disabled) {
    color: white !important;
    border-color: $danger !important;
    background-color: $danger !important;
  }
}

.indication-text {
  @extend .font-small;
  @extend .font-italic;
  color: $gray-500 !important;
}

.text-gray {
  color: $gray-600 !important;
}

.text-light-gray {
  color: $gray-500 !important;
}

.bg-danger-light {
  background-color: rgba(221, 53, 69, 0.1);
}

// .custom-switch {
//     display: flex;
//     align-items: center;
//     & > label {
//         &::before {
//             top: 0 !important;
//         }
//         &::after {
//             top: 0.16rem !important;
//         }
//     }
// }

label {
  font-size: 0.88rem;
  color: $gray-600;
  font-weight: 600;
}

input,
select {
  height: 1.8rem !important;
}

.meal-icon {
  width: 3rem !important;
  height: 3rem !important;
  font-size: 2rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

button.icon-button-list {
  width: 3rem !important;
  height: 3rem !important;
  font-size: 2rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  &:hover {
    background-color: $primary;
  }
}

button.icon-button {
  width: 4rem !important;
  height: 4rem !important;
  font-size: 3rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid $gray-400;
  &:hover {
    background-color: $primary;
  }
}

textarea.meal-description {
  height: 4rem !important;
  resize: none;
}

.icon-wrapper {
  @extend .rounded-extra;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
  grid-auto-rows: 3rem;
  background-color: white;
  grid-gap: 0.1rem;
  padding: 1rem;
  width: 274px;
}

.popover {
  border: 1px solid $gray-400;
}

.meal-image {
  @extend .rounded-extra;
  flex-grow: 1;
  background-position: center;
  background-size: cover;
  min-height: 200px;
}

input,
textarea,
select {
  font-size: 0.88rem !important;
  &::placeholder {
    color: $gray-500 !important;
    opacity: 1; /* Firefox */
  }
  border-radius: 0.75rem !important;
  // background-color: #f2f2f2 !important;
  // border: 0 !important;
  // border-radius: 0.25rem !important;
}

.input-group-prepend {
  &.sm > * {
    width: calc(1.5em + 0.5rem + 2px);
    height: calc(1.5em + 0.5rem + 2px);
    display: flex;
    justify-content: center;
  }
  & > * {
    border-radius: 0.75rem !important;
  }
}

.border-dashed {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%2300000033' stroke-width='2' stroke-dasharray='11' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 12px;
  // background-image: url("data:image/svg+xml,%3csvg width="100%25" height="100%25" xmlns="http://www.w3.org/2000/svg"%3e%3crect width="100%25" height="100%25" fill="none" rx="10" ry="10" stroke="%23642EEAFF" stroke-width="1" stroke-dasharray="7" stroke-dashoffset="0" stroke-linecap="square"/%3e%3c/svg%3e");
  border: none;
}

// .modal-dialog {
//     transition: max-width 0.3s ease, transform 0.3s ease-out !important;
// }

.modal-content {
  @extend .rounded-extra;
  transition: max-height 0.4s ease 0.3s;
  border: none;
}

.mh-75 {
  max-height: 75% !important;
}

.mw-modal {
  max-width: 800px !important;
}

.carousel {
  &-inner {
    height: 100%;
    overflow-y: visible;
  }
  &-item {
    height: 100%;
  }
}

.carousel-item.active {
  display: flex;
  flex-direction: column;
}

.flex-basis-0 {
  flex-basis: 0 !important;
}

.separator {
  @extend .my-3;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  font-weight: 600;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.separator:not(:empty)::before {
  margin-right: 0.5em;
}

.separator:not(:empty)::after {
  margin-left: 0.5em;
}

// .modal.fade .modal-dialog {
//     transition: transform 0.3s ease-out;
//     transform: none !important;
// }
// .modal.show .modal-dialog {
//     transform: none !important;
// }
// .modal-backdrop {
//     transition: opacity 0.3s ease-out;
//     opacity: 0;
// }
.modal-backdrop {
  z-index: unset;
}

.carousel-item {
  transition: transform 0.4s ease !important;
}

.map-wrapper {
}

.map-container {
  position: relative;
  flex-grow: 1;

  & canvas {
    @extend .rounded-extra;
  }
}

// .mapboxgl-marker {
//     width: 25px;
//     height: 25px;
//     border-radius: 50%;
//     border: 1px solid gray;
//     background-color: lightblue;
// }
.mapboxgl-ctrl-bottom-left {
  z-index: 0 !important;
}

select.form-control {
  &.is-invalid,
  &.is-valid {
    background-position: right 1.1rem center;
  }
}

input[name="siret"] {
  text-transform: uppercase;
}

input[type="file"] {
  display: none !important;
}

.mapboxgl-ctrl-geocoder {
  * svg,
  svg,
  button {
    top: 4px !important;
  }
  input {
    @extend .form-control;
    padding: 0.375rem 35px !important;
  }
  @extend .rounded-extra;
  display: flex !important;
  align-items: center;
  box-shadow: none !important;
  width: 100% !important;
  max-width: none !important;
  .suggestions-wrapper {
    z-index: 100;
    .suggestions {
      margin-top: 0.5rem;
    }
    .mapboxgl-ctrl-geocoder--suggestion {
      * {
        font-size: 0.8rem !important;
      }

      .mapboxgl-ctrl-geocoder--suggestion-title {
        @extend .font-semi-bold;
      }
    }
  }
}

.z-index-max {
  z-index: 10000 !important;
}

.section-title {
  @extend .rounded-high;
  &[contenteditable="true"] {
    background-color: #e6e6e6 !important;
    outline: 0;
  }
  padding: 0.2rem 0.5rem;
}
